trunk/WS_Reservas_SPA/WebContent/wsdl/ImplReservaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://servicios.reserva.srs.upc.edu.pe" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://servicios.reserva.srs.upc.edu.pe" xmlns:intf="http://servicios.reserva.srs.upc.edu.pe" xmlns:tns1="http://beans.reserva.srs.upc.edu.pe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.reserva.srs.upc.edu.pe" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://servicios.reserva.srs.upc.edu.pe"/>
   <complexType name="Servicio">
    <sequence>
     <element name="descripcion" nillable="true" type="xsd:string"/>
     <element name="duracion" type="xsd:double"/>
     <element name="id" type="xsd:int"/>
     <element name="rutaImagen" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://servicios.reserva.srs.upc.edu.pe" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.reserva.srs.upc.edu.pe"/>
   <complexType name="ArrayOf_tns1_Servicio">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Servicio"/>
    </sequence>
   </complexType>
   <element name="obtenerServiciosReturn">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Servicio"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerServiciosRequest">

   </wsdl:message>

   <wsdl:message name="obtenerServiciosResponse">

      <wsdl:part element="impl:obtenerServiciosReturn" name="obtenerServiciosReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ImplReservaService">

      <wsdl:operation name="obtenerServicios">

         <wsdl:input message="impl:obtenerServiciosRequest" name="obtenerServiciosRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerServiciosResponse" name="obtenerServiciosResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ImplReservaServiceSoapBinding" type="impl:ImplReservaService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerServicios">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerServiciosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerServiciosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ImplReservaServiceService">

      <wsdl:port binding="impl:ImplReservaServiceSoapBinding" name="ImplReservaService">

         <wsdlsoap:address location="http://localhost:8081/WS_Reservas_SPA/services/ImplReservaService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
